@model BaiTap.Models.bo_cau_hoi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bo_cau_hoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_bo_cau_hoi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
